header > * {
  line-height: 1.2;
  font-weight: 400;
}
header {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.75rem;
  width: 100%;
  /* position: fixed; */
  /* z-index: 1; */
  background-color: white;
}

.primary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-size: 1.25rem;
  gap: 2rem;
}
.logo {
  display: block;
  width: 60px;
  height: auto;
}
.navlinks li,
a {
  text-decoration: inherit;
  color: black;
}
.moreTab {
  color: #ff764d;
}
.navbarAction {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.trial {
  font-size: 1.25rem;
  color: #0000ff;
}

.navlinks li a {
  position: relative;
  text-decoration: none;
}

.navlinks li a::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: -4px;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}

.navlinks li a:hover::after {
  width: 100%;
}
