@import url("./hero.css");
@import url("./images.css");
@import url("./text-section.css");
@import url("./card.css");
@import url("./header.css");
@import url("./footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Futura PT";
  src: url("../assets/fonts/FuturaPTLight.ttf");
  src: url("../assets/fonts/FuturaPTMedium.ttf");
}
body {
  font-family: "Futura PT", sans-serif;
  background-color: #fff;
  line-height: 1.6;
}
